<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tlabs.android.jeeves.service">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="23" />

    <permission android:name="com.tlabs.android.evanova.permission.CONTENT_READ" />
    <permission android:name="com.tlabs.android.evanova.permission.CONTENT_WRITE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application android:allowBackup="true">

        <provider
                android:name="com.tlabs.android.jeeves.data.SearchProvider"
                android:authorities="com.tlabs.android.evanova.search"
                android:readPermission="com.tlabs.android.evanova.permission.CONTENT_READ"
                android:writePermission="com.tlabs.android.evanova.permission.CONTENT_WRITE" />
    </application>
</manifest>